@charset "UTF-8";
#create {
    width: 49%;
    display: inline;
    text-align: center;
    font-size: 20px;
    float: left;
}

#list {
    width: 49%;
    display: inline;
    text-align: center;
    font-size: 20px;
    float: right;
}

#error {
	text-align: center;
	color: red;
}